        /* Uitlijning van de koppen */
    body {
        background-color: rgb(90, 101, 170);
    }
    
    h1 {
        text-align: left;
    }

    h2, h3 {
        text-align: left; 
    }

    p {
        text-align: justify;
        max-width: 10000px;
        font: 17px Arial, sans-serif;
        color: white;
    }

    ul {
        text-align: left;
    }

    div iframe {
        margin-top: 30px;
    }
    
    /*per section */
    #img1 {
        border: 10px solid transparent;
        border-image: url(border.png) 30 round;
    }

    #about h2 {
        color: red;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
    }
    
    #why-software-developer h2 {
        color: red;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
    }
        
    #education h2 {
        color: red;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
    }

    #education h4 {
        font-size: large;
    }

    #education ul {
       background-color: black;
       padding: 20px;
       width: 10%;
        color: turquoise;
    }

    #afgerond_modul h4 {
        font-size: large;
    }

    #afgerond_modul ul {
        background-color: black;
        padding: 20px;
        width: 10%;
        color: turquoise;
    }

    footer {
        text-align: center;
        font-size: 18px;
        color: black;
    }

    


