@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 20px 100px; 
     background: transparent;
     display: flex;
     justify-content: space-between; 
     align-items: center;
     z-index: 100;
} 

.logo img {
    max-height: 100px;
    border-radius: 50%;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 35px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 0;
    background: white;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;  
}

.projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 800px; 
    margin: 0 auto;
    height: 80vh; 
}

.image {
    width: 50%; 
    max-width: 100%;
    height: auto;
    margin: 0 20px;
}


.image:nth-child(2),
.image:nth-child(3){
    border-radius: 50%;
    height: 250px;
    
}



